.content_wrapper{
  margin: auto;
  padding: 0 15px;

  @include tablet {
    max-width: 760px;
  }

  @include laptop {
    max-width: 1360px;
  }

  @include desktop {
    max-width: 1530px;
  }

  @include largeScreen{
    max-width: 1910px;
  }
}