@import "variables";

@mixin mobile {
	@media (width >= 360px) {
		@content;
	}
}

@mixin tablet {
	@media (width >= 768px) {
		@content;
	}

}

@mixin laptop {
	@media (width >= 1366px) {
		@content;
	}
}

@mixin desktop {
	@media (width >= 1536px) {
		@content;
	}
}

@mixin largeScreen {
	@media (width >= 1920px) {
		@content;
	}
}

@mixin transition {
	transition: all 0.5s;
}

@mixin border {
	border: 1px solid $border_color;
}

@mixin scrollbar($color : #c6c6c6) {
	// For Chrome & Safari
	&::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}

	&::-webkit-scrollbar-thumb {
		background: $color;
	}

	&::-webkit-scrollbar-track {
		background: #c6c6c6;
	}

	// Standard version (Firefox only for now)
	-ms-overflow-style: auto;
	scrollbar-color: $color  transparent;
	scrollbar-width: thin;
}

