$primary_color: #1E2346;
$secondary_color: #17E3A2;

$text_color: #FFFFFF;

$link_color: #242969;
$link_color_hover: #ed2529;

$border_color: #c4c7c8;
$background_color:#181818;

$white_color: #ffffff;
$gray_color: #EDEDED;

$button_background_color: #9359F2;
$button_text_color: #ffffff;
$button_background_color_hover: #9359F2;
$button_text_color_hover: #ffffff;

$success_color: #1BCA3B;
$warning_color: #EDD922;
$danger_color: #ed2529;
$information_color: #2778c4;

$box_shadow: 0 2px 25px rgba(0, 0, 0, 0.25);
$border_radius: 0;

$main_font : "Poppins", sans-serif;


