$primary_color: #1e2346;
$secondary_color: #17e3a2;

$text_color: #fff;

$link_color: #242969;
$link_color_hover: #ed2529;

$border_color: #c4c7c8;
$background_color:#181818;

$white_color: #fff;
$gray_color: #ededed;

$button_background_color: #9359f2;
$button_text_color: #fff;
$button_background_color_hover: #9359f2;
$button_text_color_hover: #fff;

$success_color: #1bca3b;
$warning_color: #edd922;
$danger_color: #ed2529;
$information_color: #2778c4;

$box_shadow: 0 2px 25px rgba(0, 0, 0, 0.25);
$border_radius: 0;

$main_font : "Poppins", sans-serif;

