@import "../abstracts/variables";
@import "../abstracts/mixins";

.btn {
	display: block;

	color: $button_text_color;
	background-color: $button_background_color;
	border-radius: 4px;
	border: none;
	padding: 10px 25px;
	cursor: pointer;
	width: max-content;
	font-weight: 400;
	font-size: 14px;
	line-height: 19.6px;

	@include transition();

	&:hover {
		background-color: $button_background_color_hover;
		color: #000;
	}

}
